<!--Adding employee details through file-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Adding file </title>
</head>
<body>
	<header>
		<div id="logo">
			<a href="{{url_for('dashboard')}}">
				<%=image_tag ('df_logo-1.png')%>
			</a>
		</div>
		<div id="Data">
			<h1>Dashboard</h1>
		</div>
		<div id="signout">
		<%=image_tag('logout.png')%>
		</div>
   </header>
	 <nav>
	 	<ul id="nav">
	 		<li id="Dash1"><%= link_to 'Dashboard', {:action => 'dashboard'} %></li>
	 		<li class="i_house"><%= link_to 'Add Employee', {:action => 'add'} %></li>
	 				<li class="i_house"><%= link_to ' Employee Details', {:action => 'employee'} %></li>
	 		<li class="i_house"><%= link_to'Update Employee',{:action => 'employee'} %></li>
	 		<li class="i_house"><%= link_to 'Delete Employee',{:action => 'delete'} %></li>
	 		<li class="i_house"><%= link_to 'Quick Search', {:action=>'search'}%></li>
	 		<li class="i_house"><%= link_to 'Logs', {:action=>'logs'} %> </li>

	         <li class="i_house"><% link_to 'Logs Search', {:action=>'logs_search'} %> </li>

	 		<li class="i_house"><% link_to 'Sign Out', {:action=>'login'} %><span></li>
	 	</ul>
	 </nav>
   <!--Side navbar-->

<div id="container">
	<!--Add employee through file-->
    <h3>Add Emp file </h3>
    <form action = "/file_success" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
	  <div style="text-align:center">
		<!--Submit and reset buttons-->
	  <input type="submit" value="Submit" class = "sampleBtn">
	  <input type="reset"  value="Reset" class="sampleBtn">
  </div>


    </form>
 </div>

</body>
</html>
